.App {
  text-align: center;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

.student-list {
  text-align: left;
}

.student-list-group {
  width: 500px;
  margin: auto;
}

.student-name-button{
  text-align: left;
  width: 100%;
}

.edit-button{
  width:50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #3B5998;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
